.top-nav-container {
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 100%;
    background-color: var(--theme-1);
}

.top-nav-left {
    display: flex;
    flex: 1;
    height: inherit;
    max-width: 25%;
}

.top-nav-center {
    display: flex;
    flex: 1;
    height: inherit;
    max-width: 50%;
}

.top-nav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    max-width: 25%;
}

.top-nav-auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    width: fit-content;
}

.top-nav-auth-btn {
    padding: 0.25rem 0.5rem 0.4rem 0.5rem;
    margin-right: 0.75rem;
    min-width: 3rem;
    border-radius: 0.25rem;
    color: var(--theme-6);
    background-color: var(--theme-2);
    border: solid 0.1rem var(--theme-5);
}

.top-nav-auth-btn:hover {
    color: var(--theme-7);
    border: solid 0.1rem var(--theme-7);
}


.top-nav-right-menu {
    display: flex;
    align-items: center;
    height: inherit;
    width: 100%;
}

.top-nav-right-menu-options {
    display: flex;
    height: 2.5rem;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    border-left: solid 1px var(--theme-4);
    border-right: solid 1px var(--theme-4);
}

.top-nav-right-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    width: 2.25rem;
    background-color: inherit;
    border: none;
    border-radius: 0.25rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    color: var(--theme-7);
}

.top-nav-right-menu-button:hover {
    background-color: var(--theme-4);
}

.top-nav-right-menu-options svg {
    height: 1.75rem;
    width: 1.75rem;
}

.top-nav-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    min-width: 3rem;
    border: none;
    background-color: inherit;
}

.top-nav-avatar img {
    object-fit: contain;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
